<div class="container">
    <h2>Tu carrito de compras</h2>
    <div class="cart">
        {{#each cart}}
        <div class="product">
            <h3>{{this.title}}</h3>
            <p>Price: {{this.price}}</p>
            <img src="{{this.thumbnails.[0]}}" alt="Pelicula" onerror="this.src='/img/movies/unknown.jpg'">
            <div class="quantity">
                <button class="decrement">-</button>
                <span>{{this.quantity}}</span>
                <button class="increment">+</button>
            </div>
        </div>
        {{/each}}
    </div>
</div>