:root {
	--color-primary: #000000;
	--color-secondary: #171717;
	--color-text-primary: rgb(255, 167, 45);
	--color-text-secondary: #eaeaea;
	--font-family: 'Courier New', Helvetica, sans-serif;
}

* {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: inherit;
}

html {
	font-size: 16px;
}
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-family: var(--font-family);
	align-items: center;
	color: var(--color-text-secondary);
	background: linear-gradient(var(--color-secondary), var(--color-primary));
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 1rem;
}
.navbar .logo {
	font-size: 3rem;
	font-weight: 600;
	color: var(--color-text-primary);
}

.nav-items {
	display: flex;
	gap: 3rem;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
	list-style: none;
}

.nav-items > li > a {
	font-size: 1.2rem;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 1400px;
}

.chatbox {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	width: 500px;
	gap: 1rem;
	min-height: 500px;
	padding: 1rem;
	background: linear-gradient(var(--color-primary), var(--color-secondary));
}

.chatbox > h1 {
	font-size: 1.3rem;
	font-weight: 600;
	color: var(--color-text-primary);
}

#chatForm {
	/* start this flex item from the end */
	margin-top: auto;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

#chatForm > input {
	width: 70%;
	height: 40px;
	font-size: 1.2rem;
	background-color: #2e2e2e;
	color: white;
	/* remove input tag styles */
	border: 3px solid black;
	outline: none;
	padding: 0 1rem;
	border-radius: 1rem;
}

#chatForm > button {
	width: 15%;
	height: 40px;
	font-size: 1.9rem;
	font-weight: 1000;
	background-color: #e45000;
	color: black;
	border: 3px solid black;
	outline: none;
	border-radius: 1rem;
}

.border {
	border: 3px solid var(--color-primary);
	border-radius: 1rem;
	padding: 0 0 1rem 0;
}

.message {
	background: linear-gradient(var(--color-primary), var(--color-secondary));
	color: var(--color-text-secondary);
	text-decoration: none;
}

#userInfoForm {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 300px;
	padding: 1rem;
}

#userInfoForm > input {
	margin: 0.5rem;
	width: 100%;
	font-size: 1.2rem;
	background-color: #2e2e2e;
	color: white;
	/* remove input tag styles */
	border: 3px solid black;
	outline: none;
	padding: 0 1rem;
	border-radius: 1rem;
}

#userInfoForm > button {
	width: 50%;
	height: 40px;
	font-size: 1.2rem;
	background-color: #e45000;
	color: black;
	border: 3px solid black;
	outline: none;
	border-radius: 1rem;
}
