:root {
	--color-primary: #000000;
	--color-secondary: #171717;
	--color-text-primary: rgb(255, 167, 45);
	--color-text-secondary: #eaeaea;
	--font-family: 'Courier New', Helvetica, sans-serif;
}

* {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: inherit;
}

html {
	font-size: 16px;
}
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-family: var(--font-family);
	align-items: center;
	color: var(--color-text-secondary);
	background: linear-gradient(var(--color-secondary), var(--color-primary));
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 1rem;
}
.navbar .logo {
	font-size: 3rem;
	font-weight: 600;
	color: var(--color-text-primary);
}

.nav-items {
	display: flex;
	gap: 3rem;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
	list-style: none;
}

.nav-items > li > a {
	font-size: 1.2rem;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 1400px;
}

.grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.item {
	flex: 0 0 20%;
}

.card {
	margin: 1rem;
	padding: 0 0 1rem 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	border: 3px solid var(--color-primary);
	border-radius: 1rem;
	gap: 1rem;
	overflow: hidden;
}

.card:hover {
	filter: brightness(1.04) contrast(0.97);
	transition: filter 0.2s ease-out;
}

.card img {
	align-self: flex-start;
	width: 100%;
	height: 400px;
	object-fit: cover;
}

.product {
	position: relative;
	background: linear-gradient(var(--color-primary), var(--color-secondary));
	color: var(--color-text-secondary);
	text-decoration: none;
}
.product .title {
	font-size: 2rem;
	flex-wrap: wrap;
	font-weight: 600;
}

.product .price {
	color: var(--color-text-primary);
	font-size: 1.6rem;
}

.product > button {
	position: absolute;
	bottom: 5px;
	right: 5px;
	padding: 5px 10px;
	background-color: var(--color-text-primary);
	/* remove button tag styles */
	border: none;
	cursor: pointer;
	border-radius: 1rem;
	font-weight: 600;
	font-size: 1.5em;
}
.product > button:hover {
	background-color: rgb(6, 222, 161);
	transition: background-color 0.2s ease-out;
}

.pagination {
	display: flex;
	justify-content: center;
	flex-direction: row;
	gap: 1rem;
	padding: 2rem;
	font-size: 30px;
}

.current-page {
	color: var(--color-text-primary);
}

#usernameModal {
	display: none;
	position: fixed;
	z-index: 9999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
	background-color: var(--color-secondary);
	margin: 10% auto;
	padding: 20px;
	border: 1px solid var(--color-text-primary);
	width: 300px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}

.modal-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}

.modal-title {
	margin: 0;
	font-size: 1.5em;
	color: var(--color-text-primary);
}

.close {
	background-color: transparent;
	border: none;
	cursor: pointer;
	font-size: 20px;
}
#closeModalBtn {
	padding: 8px 12px;
	background-color: var(--color-text-primary);
	color: var(--color-text-secondary);
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.modal-body {
	margin-bottom: 10px;
}

#usernameInput {
	width: 90%;
	padding: 10px;
	background-color: #000000;
	border: 1px solid var(--color-text-primary);
	border-radius: 4px;
	color: var(--color-text-secondary);
}

.modal-footer {
	display: flex;
	justify-content: flex-end;
}

#saveUsernameBtn {
	padding: 8px 12px;
	background-color: var(--color-text-primary);
	color: var(--color-text-secondary);
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

#saveUsernameBtn:hover {
	background-color: rgba(var(--color-text-primary), 0.8);
}

.notification {
	position: fixed;
	top: 60px;
	right: 30px;
	background-color: var(--color-text-primary);
	padding: 10px;
	color: var(--color-primary);
	text-transform: uppercase;
	letter-spacing: 3px;
	border-radius: 10px;
	animation: fadeOut 3s forwards;
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
